name: master CI, CD workflows
on: 
  push:
    branches: [ "master"]
  pull_request:
    branches: [ "master"]
jobs:
  master:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 18.x
        uses: actions/setup-node@v1
        with:
          node-version: 18.x
          
      - name: list_dir
        run: ls -la 
        
      - name: setup
        run: npm ci

      - name: show_node_modules
        run: ls node_modules

